body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    height: 100%;
}

.main {
    height: 500px;
    width: 400px;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.sidebar {
    height: 300px;
    width: 300px;
    bottom:150px;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;

}

.text {
    font-size: 25px;
    font-family: 'cursive';
    color: white;
}

.list {
    height: 200px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h2 {
    position: relative;
    text-align: center;
    color: rgb(106, 106, 104);
    font-size: 30px;
    font-family: 'cursive';
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    top: 260px;
    left: 40%;
}

.li :hover{
cursor:pointer;
font-size: 30px;
}